<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Burger App - Siavash">
	<meta name="author" content="Siavash Ashkiani">
	<title>Burger App - Siavash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/assets/js/burger.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center  bg-info text-white my-2">
				<div class="p-2 w-90">
					<h2>The Burger App</h2>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>
		</div>
	</header>

	<div class="container">
		{{{ body }}}
	</div>
	<div class="fixed-bottom bg-info text-white text-center">
		<small>&copy; Copyright 2020, Siavash Ashkiani</small>
	</div>

</body>

</html>